/**
 * Copyright 2024 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

project_id = "${PROJECT_ID}"
locations = {
    "europe-west3" = {
      ip_cidr_range = "10.100.0.0/24"
    },
    "us-central1" = {
      ip_cidr_range = "10.102.0.0/24"
    }
}

cloud_run_generation = "v2"

vpc_network = "default"
subnet = "default"

ca_pool_name = "cas-pool"

image = "eu.gcr.io/${var.project_id}/hello-broken"

# SAN domain name of the server TLS certificate being served by L7 load balancers including the GXLB. 
# Set to the subdomain you control and update your DNS record to point to the IP address 
# of the GXLB created by this project.
domain = "crx.hello.zone"

reusable_config = "root-unconstrained"
lifetime = "315400000s"
algorithm = "RSA_PKCS1_4096_SHA256"

tier = "ENTERPRISE"
type = "SELF_SIGNED"
common_name = "CAS CA"
organization_name = "ACME"
country_code = "DE"
locality = "Cologne"
province = "NRW"
organizational_unit = "BU"
