/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.dark-grey-font{
  color: #616161;
}

.vcenter {
  align-items: center;
}

html, body {
  height: 100%;
}

html {
  overflow: auto;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
}

.green-button{
  background-color: #395D33;
  color: white;
}
