{{- /* map secrets and range over them to create a SecretProviderClass */ -}}
{{- $secrets := .K8sSecretsMap }}
{{- range $secretName, $secretObjectSlice := $secrets }}
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ $secretName }}
  {{- /* take the namespace from the first object or break */ -}}
  {{- range $i, $secret := index $secrets $secretName }}
  namespace: {{ $secret.K8sNamespace }}
    {{- if lt $i 1 }}
      {{- break }}
    {{- end }}
  {{- end }}
spec:
  provider: gcp
  parameters:
    secrets: |
    {{- /* range through all objects of each secret */ -}}
    {{- range $secret := index $secrets $secretName}}
      - resourceName: "projects/{{ $secret.GCPProject }}/secrets/{{ $secret.GSMName }}/versions/latest"
        path: "{{ $secret.K8sObjectName }}"
    {{- end }}
{{ end }}