astroid==3.2.3
cachetools==5.3.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
dill==0.3.8
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-dialogflow==2.30.1
googleapis-common-protos==1.63.2
grpcio==1.65.0
grpcio-status==1.65.0
grpcio-tools==1.64.1
idna==3.7
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.2
proto-plus==1.24.0
protobuf==5.27.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycparser==2.22
pylint==3.2.5
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
six==1.16.0
sounddevice==0.4.7
tomlkit==0.13.0
urllib3==2.5.0
