/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

project_id = "sshsergey-main" 

tier                = "ENTERPRISE"
location1           = "europe-west3"
location2           = "us-central1"

root_pool_name      = "acme-root-pool"
sub_pool1_name      = "acme-sub-pool-europe"
sub_pool2_name      = "acme-sub-pool-us"

root_ca_name        = "acme-root-ca"
sub_ca1_name        = "acme-sub-ca-europe"
sub_ca2_name        = "acme-sub-ca-us"

domain              = "acme.com"
algorithm           = "EC_SIGN_P384_SHA384"

cert_name           = "ACME_Leaf_Cert"

root_common_name    = "ACME Root"
subca1_common_name  = "ACME Sub CA1"
subca2_common_name  = "ACME Sub CA2"

organization_name   = "ACME"
country_code        = "DE"
organizational_unit = "NA"
province            = "NA"
locality            = "NA"
