{#
# Copyright 2022 Google LLC
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
apiVersion: v1
kind: CredentialFile
# list of credentials
items:
# reference name for this credential entry
- name: vCenter
  username: "{{ glb_vc_username }}"
  password: "{{ glb_vc_password }}"
{% if (glb_privatereg_url is defined) and (glb_privatereg_url|length > 0) %}
- name: "privateRegistry"
  username: "{{ glb_privatereg_username }}"
  password: "{{ glb_privatereg_password }}"
{% endif %}
