[Unit]
Description = stunnel
After=network.target
After=mainframe-connector.service

[Service]
Type = forking
Restart = always
RestartSec = 1
SuccessExitStatus = 143
ExecStart = /opt/stunnel/bin/stunnel

[Install]
WantedBy=multi-user.target
