---
# Update these values with correct project ID's and Managed Zone names for your
# situation.
#
# The project hosting the DNS Managed Zones.  Typically the VPC Host project.
DNS_VM_GC_DNS_PROJECT: my-vpc-host-project
# A comma separated list of managed zones to scan for DNS records.
DNS_VM_GC_DNS_ZONES: my-nonprod-private-zone,my-prod-private-zone

# The log stream to send structured log reports.  Defaults to
# `projects/<FUNCTION_PROJECT>/logs/<FUNCTION_NAME>` if unset.
# See https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry
# logName for project, organization, billing account and folder destinations.
# DNS_VM_GC_REPORTING_LOG_STREAM: organization/<ORG_ID>/logs/dns-vm-gc-report

# Enable Debug logs.  Note this produces a large amount of log messages to the
# reporting log stream.
# DEBUG: 'true'
