[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dag-factory = {editable = true,path = "."}

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
