<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <!-- REST APIs -->
  <servlet>
    <servlet-name>SaveCities</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.api.SaveCities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCities</servlet-name>
    <url-pattern>/rest/city/saveCities</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoadCityTemperatures</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.api.LoadCityTemperatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCityTemperatures</servlet-name>
    <url-pattern>/rest/city/loadCityTemperatures</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoadCities</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.api.LoadCities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCities</servlet-name>
    <url-pattern>/rest/city/loadCities</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StartSimulation</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.api.StartSimulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartSimulation</servlet-name>
    <url-pattern>/rest/simulation/start</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StopSimulation</servlet-name>
  <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.api.StopSimulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopSimulation</servlet-name>
    <url-pattern>/rest/simulation/stop</url-pattern>
  </servlet-mapping>

  <!-- TASKS -->
  <servlet>
    <servlet-name>CreateInstance</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.tasks.CreateInstance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateInstance</servlet-name>
    <url-pattern>/task/gce/instance/creation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemoveInstances</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.tasks.RemoveInstances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveInstances</servlet-name>
    <url-pattern>/task/gce/instance/removal</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnregisterDevices</servlet-name>
    <servlet-class>com.google.cloud.demo.iot.nirvana.frontend.servlet.tasks.UnregisterDevices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnregisterDevices</servlet-name>
    <url-pattern>/task/cloudiotcore/device/removal</url-pattern>
  </servlet-mapping>

  <!-- Filters -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.google.cloud.demo.iot.nirvana.frontend.shared.CorsFilter</filter-class>
  </filter>

  <!-- Filters mapping -->
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>

  <!-- Security Constraints -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all-pages</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SSL</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Welcome file list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
