click==7.1.2 # `kfp component build` needs click==8.1.3
cloudml-hypertune==0.1.0.dev6
cloudpickle==2.2.1
comm==0.1.3
db-dtypes==1.1.1
Deprecated==1.2.13
dill==0.3.1.1
docker==4.4.4
docopt==0.6.2
flatbuffers==1.12 # 23.5.26
fsspec==2023.5.0
gcsfs==2023.5.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-aiplatform==1.17.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.2
google-cloud-bigtable==2.15.0
google-cloud-datastore==2.11.0
google-cloud-dlp==3.9.2
google-cloud-language==2.6.1
google-cloud-pipeline-components==2.0.0b4
google-cloud-pubsub==2.13.11
google-cloud-pubsublite==1.6.0
google-cloud-spanner==3.26.0
google-cloud-storage==2.7.0
google-cloud-videointelligence==2.8.3
google-cloud-vision==3.1.4
googleapis-common-protos==1.59.0
grpc-google-iam-v1==0.12.6
grpcio==1.55.0
grpcio-status==1.47.0
jsonschema==3.2.0
keras==2.9.0
kfp==2.0.0rc1
matplotlib==3.7.1
ml-dtypes==0.1.0
model-card-toolkit==2.0.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
packaging==20.9
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
platformdirs==3.5.1
protobuf
pyarrow==6.0.1
PyYAML==5.4.1
requests==2.31.0
scikit-learn==0.24.1
scipy==1.10.1
seaborn==0.12.2
shap==0.39.0
tensorboard==2.9.0
tensorflow==2.9.0
tensorflow-serving-api==2.9.0
tfx==1.10.0
tfx-addons==0.6.0
typing_extensions==4.6.0
urllib3==1.26.15
xgboost==1.6.2
