.DS_Store
backend.tf
backend.tf.local
shared.tf.local
forseti/forseti.json
forseti/forseti-security/*
.terraform/*
forseti/helpers/.terraform
.terraform
terraform.out
*.pyc
*.profraw
*tfstate*
*.tmp
workstation.env
hipsterservice.crt
hipsterservice.csr
hipsterservice.key
.idea
.idea/*
.kitchen
inspec.lock

# Project specific ignores
terraform/modules/notifications/function-source.zip
terraform/modules/notifications/js/config.json
test/out
#test/integration/security_benchmarks
test/post-deploy-scan-attrs.yml
