
# If applicable, update this file with IDs of your billing account, project folder, and organization


# Choose your Organization
#export TF_VAR_org_id=YOUR_ORG_ID
export TF_VAR_org_id=

# Choose your Billing Account
#export TF_VAR_billing_account=YOUR_BILLING_ACCOUNT_ID
export TF_VAR_billing_account=

# Folder that contains all projects for this demo
# If an appropriate folder doesn't already exist, please create one before
# continuing
#export TF_VAR_folder_id=YOUR_PROJECT_FOLDER
export TF_VAR_folder_id=

# Override the following project prefix if desired
#export TF_VAR_project_prefix=demo-pci
export TF_VAR_project_prefix=

# The Project ID where Terraform state and service accounts are created.
export TF_ADMIN_PROJECT=$YOUR_MAIN_PROJECT

# Set bucket name for State files
export TF_ADMIN_BUCKET=$YOUR_MAIN_PROJECT-terraform-admin

# for simplicity, we also will store the TF remote state information in the admin bucket
export TF_VAR_remote_state_bucket=${TF_ADMIN_BUCKET}

# Set the path to the service account credentials file
export TF_CREDS=~/.config/gcloud/$YOUR_MAIN_PROJECT.json

# Set default application credentials
export GOOGLE_APPLICATION_CREDENTIALS="${TF_CREDS}"

# If using Docker to run the CFT commands (ex: running Kitchen Integration tests)
export SERVICE_ACCOUNT_JSON="$(< $TF_CREDS)"

# More optional Terraform Variables

# Explicitly override the Project IDs
# Useful if you do not want to use the PCI Starter to manage Project
# configuration
export TF_VAR_network_project_id=$YOUR_MAIN_PROJECT
export TF_VAR_in_scope_project_id=$YOUR_MAIN_PROJECT
export TF_VAR_out_of_scope_project_id=$YOUR_MAIN_PROJECT
export TF_VAR_management_project_id=$YOUR_MAIN_PROJECT
#
# Set this to "false" if you do not want to share the VPC. Useful if you are
# deploying all components to a single project
#
# export TF_VAR_is_shared_vpc_host="false"
export TF_VAR_is_shared_vpc_host="false"
#
# # Enable/Disable the demo applications
export TF_VAR_enable_hipsterstore_app="true"
export TF_VAR_enable_helloworld_app="true"
#
# # If desired, override the ServiceAccount email to use
export TF_VAR_override_inscope_sa_email="project-service-account@$YOUR_MAIN_PROJECT.iam.gserviceaccount.com"
