#!/usr/bin/env bash
# Copyright 2020 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#
# This software is provided as-is,
# without warranty or representation for any use or purpose.
# Your use of it is subject to your agreement with Google.

#
#
# name: shutdown-cleanup-trust.sh.tmpl
# description:  cleanup one-way trust between realms
#     to enable this script on shutdown add the following metadata on creation
#     --metadata "shutdown-script-url=gs://path/to/script/shutdown-cleanup-trust.sh.tmpl"

# VARs set from wrapper based on environment deployment
# shellcheck disable=SC2034
CLUST_REALM="${KEY_CLUST_REALM}"
DOMAIN="${HOST_DOMAIN}"
KMS_KEY_URI="${CLUST_KMS_KEY_URI}"

# Hive Metastore Realm
KRB5_HIVE_REALM="${KEY_KRB_CLUSTER_HMS_REALM}"
KRB5_HIVE_MASTER="${KEY_KRB5_HIVE_MASTER}"
KRB5_HIVE_SECRET="${KEY_KRB5_HIVE_SECRET}"

# FOO REALM
KRB5_FOO_REALM="${KEY_KRB_CLUSTER_CORP_KDC_REALM}"
KRB5_FOO_MASTER="${KEY_KRB5_FOO_MASTER}"
KRB5_FOO_SECRET="${KEY_KRB5_FOO_SECRET}"

# shellcheck disable=SC2154
${logic}
