org_id                    = "726061586403"
prefix                    = "pw"
terraform_service_account = "composer-e2e-cicd@prj-b-cicd-b1e4.iam.gserviceaccount.com"
billing_account           = "01FD6D-BC7824-263CC9"
folder_name               = "composer-e2e"
composer_subnets = {
  subnet-composer1-private-us-ea4 = {
    description    = "This is a subnet for composer1 private env"
    cidr_range     = "10.44.42.0/24"
    region         = "us-east4"
    private_access = true
    flow_logs      = true
    secondary_ranges = [
      {
        range_name    = "pods-composer1-us-ea4"
        ip_cidr_range = "10.45.0.0/22"
      },
      {
        range_name    = "svcs-composer1-us-ea4"
        ip_cidr_range = "10.46.43.0/24"
    }]
  }
  subnet-composer2-private-us-ea4 = {
    description    = "This is a subnet for composer2 private env"
    cidr_range     = "10.54.42.0/24"
    region         = "us-east4"
    private_access = true
    flow_logs      = true
    secondary_ranges = [
      {
        range_name    = "pods-composer2-us-ea4"
        ip_cidr_range = "10.55.0.0/22"
      },
      {
        range_name    = "svcs-composer2-us-ea4"
        ip_cidr_range = "10.56.43.0/24"
    }]
  }
}

composer_v1_private_envs = {
  composer-test-env = {
    region                = "us-east4"
    zone                  = "us-east4-a"
    pod_ip_range_name     = "pods-composer1-us-ea4"
    service_ip_range_name = "svcs-composer1-us-ea4"
    subnet                = "subnet-composer1-private-us-ea4"
    control_plane_cidr    = "172.18.1.0/24"
    web_server_cidr       = "172.18.0.16/28"
    cloud_sql_cidr        = "172.18.1.0/24"
    tags                  = ["composer-worker"]
    software_config = {
      airflow_config_overrides = {
        core-dags_are_paused_at_creation = "True"
      }
      env_variables  = { TEST : "True" }
      image_version  = "composer-1.18.6-airflow-1.10.15"
      pypi_packages  = {}
      python_version = "3"
    }
  }
}

composer_v2_private_envs = {
  composer-test-env = {
    region                = "us-east4"
    zone                  = "us-east4-a"
    pod_ip_range_name     = "pods-composer2-us-ea4"
    service_ip_range_name = "svcs-composer2-us-ea4"
    subnet                = "subnet-composer2-private-us-ea4"
    control_plane_cidr    = "172.18.1.0/24"
    composer_network_ipv4_cidr = "172.31.245.0/24"
    cloud_sql_cidr        = "172.18.1.0/24"
    tags                  = ["composer-worker"]
    software_config = {
      airflow_config_overrides = {
        core-dags_are_paused_at_creation = "True"
      }
      env_variables  = { TEST : "True" }
      image_version  = "composer-2.0.16-airflow-2.2.5"
      pypi_packages  = {}
      python_version = 3
    }
  }
}