displayName: Audit Configuration Changes
documentation:
  content: |-
    Log-based alerting policy in project ${project} detected audit configuration changes.

    This alert helps track GCP services audit log configuration changes to ensure appropriate.
    audit logs are being collected
    ```
    protoPayload.methodName="SetIamPolicy" AND
    protoPayload.serviceData.policyDelta.auditConfigDeltas:*
    ```
  mimeType: text/markdown
conditions:
  - displayName: "Log match condition: Audit Configuration Changes"
    conditionThreshold:
      filter: resource.type = "logging_bucket" AND metric.type = "logging.googleapis.com/user/auditConfigChanges"
      aggregations:
        - perSeriesAligner: ALIGN_SUM
          alignmentPeriod: 60s
          crossSeriesReducer: REDUCE_SUM
          groupByFields:
            - metric.label.principal
            - metric.label.method_name
            - metric.label.organization_id
            - metric.label.folder_id
            - metric.label.project_id
      comparison: COMPARISON_GT
      thresholdValue: 0
      duration: 0s
      trigger:
        count: 1
combiner: OR
notificationChannels:
  - projects/my-project/notificationChannels/11111111111111
