.entity-width {
  width: 80%;
}

.entity-type {
  color: white;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: -0.5em;
  margin-right: -0.5em;
}

.scale-col {
  width: 8em;
}

.mat-progress-spinner {
  margin: auto;
}
