custom.cloudrunDisableEnvironmentVariablePattern:
  action_type: DENY
  condition: |-
    resource.spec.template.spec.containers.exists(container,
      container.env.exists(env,
        ["[sS][eE][cC][rR][eE][tT]", "[kK][eE][yY]", "[pP][aA][sS][sS][wW][oO][rR][dD]", "[tT][oO][kK][eE][nN]"].exists(
          pattern, env.name.matches(pattern)
        )
      )
    )
  description:
    Enforce that certain patterns are not used in environment variables of Cloud Run Service or Cloud Run Functions
  display_name: Disable usage of certain patterns in Cloud Run Service or Cloud Run Functions environment variables
  method_types:
    - CREATE
    - UPDATE
  resource_types:
    - run.googleapis.com/Service
