mock~=4.0.0
PyYAML~=5.4.0
google-cloud-secret-manager~=2.7.0
google-cloud-error-reporting~=1.2.0
google-cloud-billing-budgets~=1.4.0
google-api-python-client~=2.23.0
jinja2~=2.11.0
sendgrid~=6.8.0
python-json-logger~=2.0.0
autolink~=0.1.0
oauth2client~=4.1.0
parsedatetime~=2.6
python-dateutil~=2.8.0
google-cloud-storage~=1.42.0
grpcio~=1.41.0
functions-framework~=2.2.0
google-cloud-iam~=2.3.0
google-cloud-bigquery~=2.27.0
google-cloud-recommender~=2.3.0
openpyxl~=3.0.0
tablepyxl~=0.6.0
recurrent~=0.4.0
filemagic~=1.6
google-cloud-pubsub~=2.8.0
tftest~=1.6.0
msal~=1.16.0
requests~=2.26.0
responses~=0.18.0
