apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-expect
data:
  redis-expect.script: |+
    #!/usr/bin/expect

    spawn /bin/bash

    expect "#" {
      send "(cat /tmp/redis-nodes/redis-nodes.txt) | (xargs -o /tmp/redis-stable/src/redis-cli --cluster create --cluster-replicas 1)\r"
    }

    expect "to accept):" {
      send "yes\r"
    }

    expect "#" {
      send "(cat /tmp/redis-nodes/redis-nodes.txt) | (while read node; do /tmp/redis-stable/src/redis-cli --cluster check \${node}; done)\r"
    }

    interact

