<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>pod:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>node:</th>
      <td>{{ platform }} ({{ release }})</td>
    </tr>
  </table>

</div>
