<div class="view">
  <h1>Terms of Service &amp; Privacy</h1>
  <p>
    This tool is provided as a reference implementation to investigate BigQuery Queryplan documents. It may
    be useful as a debugging and visualization resource. It is not an officially supported Google product and is
    provided without
    guarantees of maintenance.
  </p>
  <nav>
    <a class="policy-link" mat-button href="https://policies.google.com/terms" target="_blank">Google Terms of
      Service</a>
    <a class="policy-link" mat-button href="https://cloud.google.com/terms/" target="_blank">Google Cloud Platform Terms
      of Service</a>
    <a class="policy-link" mat-button href="https://policies.google.com/privacy" target="_blank">Privacy</a>
  </nav>
  <a mat-raised-button color="primary" href="/" class="back">Back</a>
</div>