<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <SpoolConsoleLayout pattern="%d{ISO8601} %-5p %c - %X{job.tag} %m%n" splitSize="79"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <SpoolConsoleLayout pattern="%d{ISO8601} %-5p %c - %X{job.tag} %m%n" splitSize="79"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.grpc" level="ERROR" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Logger name="io.netty" level="ERROR" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Logger name="org.apache.orc" level="ERROR" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Logger name="org.apache.http" level="ERROR" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Logger name="com.google.api.client.http" level="WARN" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Logger name="com.google.api.gax.retrying" level="TRACE" additivity="FALSE">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr" level="error"/>
        </Root>
    </Loggers>
</Configuration>
