project_id               = "your-gcp-project-id"
region                   = "us-central1"
claude_apikey            = "api key value"
slackbot_workspace_token = "slackbot token value"
slackapp_signing_secret  = "slack app secret value"