Flask==0.12.2
Flask-restful==0.3.6
Werkzeug<0.13.0,>=0.12.0
requests==2.19.1
gunicorn==19.7.1
google-cloud-speech
google-cloud-storage
google-cloud-language
google-api-python-client
ffmpeg-python
pydub