---

yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'

## exclude
ignore: |
  build/
  tests/
  cloudbuild.yaml
  values.yaml
  *firewallEnforceNamingConvention.yaml
extends: default

rules:
  indentation:
    indent-sequences: consistent
  line-length:
    max: 120
    level: warning
  braces: disable
  document-start: disable
  empty-lines:
    max: 2
    max-start: 0
    max-end: 1
  comments-indentation: disable
