#[Global Input Variables]
terraform_service_account = "UPDATE_ME"
region     = "australia-southeast2"
project_id = "UPDATE_ME"

#[Spanner Specific Input Variables]
spanner_instance_name_for_userdata = "cs-poc-instance-data-tf"
spanner_instance_name_for_metadata = "cs-poc-instance-metadata-tf"
spanner_database_name_for_userdata = "cs-poc-database-data-tf"
spanner_database_name_for_metadata = "cs-poc-database-metadata-tf"
spanner_changestream_name          = "cs_poc_tf"

#[BigQuery Specific Input Variables]
bigquery_dataset_name = "bq_cs_poc_dataset_tf"

#[Dataflow Specific Input Variables]
dataflow_job_name = "df-spanner-cs-bq-stream"

