aiohttp==3.7.4.post0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
crcmod==1.7
cryptography==2.6.1
distro-info==0.21
entrypoints==0.3
Flask==1.1.4
google-api-core==1.31.0
google-api-python-client==2.12.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.10
importlib-metadata==4.5.0
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
multidict==5.1.0
packaging==21.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pyee==7.0.4
PyGObject==3.30.4
pyparsing==2.4.7
python-apt==1.8.4.3
python-dotenv==0.18.0
pytz==2021.1
pyxdg==0.25
requests==2.25.1
rsa==4.7.2
SecretStorage==2.3.1
six==1.16.0
slackclient==2.9.3
slackeventsapi==2.2.1
typing-extensions==3.10.0.0
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.6
Werkzeug==1.0.1
yarl==1.6.3
zipp==3.4.1
