.mat-slider {
  width: 100%;
}

.no-border > .mat-card {
  box-shadow: none;
  transition: none;
}

#threshold-0 .mat-accent .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
  background-color: #388E3C!important;
}

#threshold-0 .mat-accent .mat-slider-thumb {
  background-color: #388E3C!important;
}

#threshold-0 .mat-accent .mat-slider-thumb-label {
  background-color: #388E3C!important;
}

#threshold-1 .mat-accent .mat-slider-track-fill {
  background-color: #FFE57F!important;
}

#threshold-1 .mat-accent .mat-slider-thumb {
  background-color: #FFE57F!important;
}

#threshold-1 .mat-accent .mat-slider-thumb-label {
  background-color: #FFE57F!important;
}

#threshold-2 .mat-accent .mat-slider-track-fill {
  background-color: #E53935!important;
}

#threshold-2 .mat-accent .mat-slider-thumb {
  background-color: #E53935!important;
}

#threshold-2 .mat-accent .mat-slider-thumb-label {
  background-color: #E53935!important;
}

.icon-height {
  margin-top: 0.5em;
}

.icon-color {
  color: #32CD32;
}

.text-toxicity-preview-height {
  margin-top: 0.5em;
}

.icon-toxicity-preview-height {
  margin-top: 0.25em;
}

.bar-width {
  width: 60%;
}

.legend-col {
  width: 8em;
}

.legend-scale {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#toxicity-bar-0 .mat-progress-bar-fill::after {
  background-color: #388E3C!important;
}

#toxicity-bar-1 .mat-progress-bar-fill::after {
  background-color: #FFE57F!important;
}

#toxicity-bar-2 .mat-progress-bar-fill::after {
  background-color: #E53935!important;
}

.slider-box {
  margin: 1em;
  width: 95%;
}

.mat-expansion-panel {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.output-container {
  width: 80%;
  margin:auto;
}
