apache-beam[gcp]==2.60.0
google-api-python-client==2.151.0
google-cloud-asset==3.27.1
google-cloud-bigquery==3.26.0
mock==2.0.0
pytest
requests-futures==1.0.0

setuptools~=63.2.0
tomli~=2.0.2
packaging~=24.1
six~=1.16.0
requests~=2.32.3
oauth2client~=4.1.3
