project                        = "my-project"
region                         = "asia-southeast1"
cloudrun-job-name              = "gcve-util"
cloudrun-image                 = "asia-southeast1-docker.pkg.dev/my-project/gcve-util/gcve-util:v1"
dataset-name                   = "gcve_util"
vm-table-name                  = "vm-util"
datastore-table-name           = "datastore-util"
esxi-table-name                = "esxi-util"
repository-name                = "gcve-util"
serverless-vpc-connector-name  = "vpc-serverless-conn"
vCenter-username               = "CloudOwner@gve.local"
vCenter-server                 = "vcsa-123456.abcd12.asia-southeast1.gve.goog"
vCenter-password-secret        = "vCenter-password"
cloudrun-service-account-name  = "cloudrun-sa"
scheduler-service-account-name = "scheduler-sa"
scheduler-job-name             = "gcve-util-scheduler"