# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

# Python
*.pyc

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# IntelliJ IDEA files:
.idea/

# Visual Studio Code files:
.vscode/

### https://raw.github.com/github/gitignore/90f149de451a5433aebd94d02d11b0e28843a1af/Terraform.gitignore

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf lock file
.terraform.lock.hcl

# Crash log files
crash.log

test/fixtures/shared/terraform.tfvars

test/integration/gcloud/config.sh
test/integration/tmp

credentials.json

# File to populate env vars used by Docker test runs
.envrc

# Provider config generated for tests
**/provider.tf

# Any test logs
**/**.log
