# General
/data/**
/output/**
/tmp/**
**/.DS_Store
**/logs
**/logs/debug.log
# Kubeflow Pipelines components
**/*.tar.gz

# Jupyter Notebook
**/.ipynb_checkpoints
**/.ipython

# IPython
**/profile_default/
**/ipython_config.py

# Maven
**/target
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar