{#
# Copyright 2022 Google LLC
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
apiVersion: v1
kind: Service
metadata:
  name: istiod
  namespace: istio-system
  labels:
    istio.io/rev: "{{ asm_revision }}"
    app: istiod
    istio: pilot
    release: istio
spec:
  ports:
  - port: 15010
    name: grpc-xds # plaintext
    protocol: TCP
  - port: 15012
    name: https-dns # mTLS with k8s-signed cert
    protocol: TCP
  - port: 443
    name: https-webhook # validation and injection
    targetPort: 15017
    protocol: TCP
  - port: 15014
    name: http-monitoring # prometheus stats
    protocol: TCP
  selector:
    app: istiod
    istio.io/rev: "{{ asm_revision }}"
