mat-sidenav-content {
  background-color: white;
}

.mat-drawer-opened {
  height: 100%;
}

.mat-sidenav {
  width: 15em;
}

.mat-sidenav, .mat-sidenav-container, .mat-sidenav-content{
  overflow: hidden;
}
