cachetools==3.1.1
certifi==2024.7.4
chardet==3.0.4
DateTime==4.3
google-api-core==1.14.3
google-auth==1.6.3
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-cloud-storage==1.21.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
idna==3.15
protobuf==5.29.6
pyasn1==0.6.3
pyasn1-modules==0.2.7
pytz==2019.3
requests==2.33.0
rsa==4.0
six==1.12.0
urllib3==2.7.0
zope.interface==4.6.0
