# IDE related
.idea
.vscode

# Gradle related
.gradle
build

# Misc
.DS_Store
.notes
output
scratch

# Terraform related
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
*.tfvars
*.pkrvars.hcl
*.lock.hcl

# Python related
__pycache__/
venv
.venv
