google-cloud-bigquery==1.6.0
google-cloud-asset>=0.2.0
googleapis-common-protos==1.5.3
google-api-python-client==1.7.7
oauth2client<4
httplib2==0.12.0
google-apitools
google-api-core
Flask==1.0.2
Werkzeug>=0.14
PyYaml
