google-cloud-pubsub==2.12.1
grpc-google-iam-v1==0.12.4
google~=3.0.0
google-cloud-appengine-logging==1.1.1
google-cloud-audit-log==0.2.2
google-cloud-logging==3.1.1
google-cloud-functions==1.6.0
requests~=2.27.1