.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  pointer-events: none; /* Allow clicking through the container itself */
}

.notification-item {
  pointer-events: auto;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  overflow: auto;
  min-width: 300px;
  max-width: 400px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around !important;

  &.green-toast {
    background-color: #06865e !important;
    ::ng-deep .toast-content {
      color: #ffffff !important;
    }
  }

  &.red-toast {
    background-color: #ed0c0c !important;
    ::ng-deep .toast-content {
      color: #ffffff !important;
    }
  }
}

::ng-deep .toast-container {
  .mat-icon {
    overflow: visible;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
