kfp==1.8.12
google-cloud-bigquery==2.34.3
google-cloud-bigquery-storage==2.13.2
#google-cloud-aiplatform==1.14.0
google-cloud-aiplatform==1.15.0
google-cloud-pubsub
cloudml-hypertune==0.1.0.dev6
pytest==7.1.2
#tensorflow==2.8.2
tensorflow-data-validation==1.8.0
tensorflow-transform==1.8.0
tfx==1.8.0
tensorflow-io==0.26.0
apache-beam[gcp]==2.39.0
numpy==1.21.6
flask==2.0.3
protobuf==3.20.3
tensorflow-model-analysis==0.39.0
