**/.terraform
**/terraform.tfstate*
**/terraform.tfvars
**/*.auto.tfvars
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
!tests/**/terraform.tfvars
**/__pycache__
**/.pytest_cache
**/.test.lock

fast-config/
00-bootstrap/providers.tf
01-resman/00-bootstrap.auto.tfvars.json
01-resman/01-resman-providers.tf
01-resman/globals.auto.tfvars.json
02-networking-peering/00-bootstrap.auto.tfvars.json
02-networking-peering/01-resman.auto.tfvars.json
02-networking-peering/globals.auto.tfvars.json
02-networking-peering/providers.tf
02-security/00-bootstrap.auto.tfvars.json
02-security/01-resman.auto.tfvars.json
02-security/providers.tf
03-project-factory/dev/00-bootstrap.auto.tfvars.json
03-project-factory/dev/01-resman.auto.tfvars.json
03-project-factory/dev/02-networking.auto.tfvars.json
03-project-factory/dev/03-project-factory-dev-providers.tf
03-project-factory/dev/globals.auto.tfvars.json
03-project-factory/prod/00-bootstrap.auto.tfvars.json
03-project-factory/prod/01-resman.auto.tfvars.json
03-project-factory/prod/02-networking.auto.tfvars.json
03-project-factory/prod/03-project-factory-dev-providers.tf
03-project-factory/prod/globals.auto.tfvars.json
05-vertexai/provider.tf
